* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.artciles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0 ,253 ,0 ,0.1);
}

#sports .articles article a {
    background-color: #009612
}

#economy {
    background-color: #fffa65;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#cinema img {
    width: 409.797px;
    height: 272.766px;
}

#games img{
    width: 409.797px; 
    height: 272.766px;
}

.container2 {
    width: 1336px;
    margin: 0 auto;
}

.articles2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles2 article img {
    width: 100%;
}

.articles2 article {
    width: 30%;
}

section h2, 
.articles2 article {
    margin-bottom: 16px;
}

.articles2 h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

#cinema .articles2 a {
    padding: 8px;
    display: inline-block;
    margin-top: 8px;
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
}

#games .articles2 a {
    padding: 8px;
    display: inline-block;
    margin-top: 8px;
    background-color: red;
    color: #fff;
    text-decoration: none;
}

.articles2 p,
.articles2 a {
    font-family: Arial, Helvetica, sans-serif;   
}

#cinema .articles2 a:hover {
    text-decoration: underline;    
}

.articles2 h3 {
    font-size: 24px;
}

#games.articles2 article a:hover {
    text-decoration: underline;
}


#cinema {
    background-color: rgb(0,0,200);
}

#games {
    background-color: rgb(200,0,0);
}